<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.mapper.ChatInfoMapper">

    <sql id="Base_Column_List">
        id,chat_user_id,user_id,text,isread,time
    </sql>

    <select id="selectAll" resultType="com.example.entity.ChatInfo">
        select
        <include refid="Base_Column_List" />
        from chat_info
        <where>
            <if test="id != null"> and id = #{id}</if>
            <if test="chatUserId != null"> and chat_user_id = #{chatUserId}</if>
            <if test="userId != null"> and user_id = #{userId}</if>
            <if test="text != null"> and text like concat('%', #{text}, '%')</if>
            <if test="isread != null"> and isread like concat('%', #{isread}, '%')</if>
            <if test="time != null"> and time like concat('%', #{time}, '%')</if>
        </where>
        order by id desc
    </select>

    <select id="selectById" resultType="com.example.entity.ChatInfo">
        select
        <include refid="Base_Column_List" />
        from chat_info
        where id = #{id}
    </select>

    <select id="selectUserChat" resultType="com.example.entity.ChatInfo">
        select chat_info.*, u1.name as userName, u1.avatar as userAvatar
        from chat_info
        left join user u1 on chat_info.user_id = u1.id
        where (chat_info.user_id = #{userId} and chat_info.chat_user_id = #{chatUserId})
        or (chat_info.user_id = #{chatUserId} and chat_info.chat_user_id = #{userId})
    </select>

    <delete id="deleteById">
        delete from chat_info
        where  id = #{id}
    </delete>

    <insert id="insert" parameterType="com.example.entity.ChatInfo" useGeneratedKeys="true" keyProperty="id">
        insert into chat_info
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">id,</if>
            <if test="chatUserId != null">chat_user_id,</if>
            <if test="userId != null">user_id,</if>
            <if test="text != null">text,</if>
            <if test="isread != null">isread,</if>
            <if test="time != null">time,</if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">#{id},</if>
            <if test="chatUserId != null">#{chatUserId},</if>
            <if test="userId != null">#{userId},</if>
            <if test="text != null">#{text},</if>
            <if test="isread != null">#{isread},</if>
            <if test="time != null">#{time},</if>
        </trim>
    </insert>

    <update id="updateById" parameterType="com.example.entity.ChatInfo">
        update chat_info
        <set>
            <if test="chatUserId != null">
                chat_user_id = #{chatUserId},
            </if>
            <if test="userId != null">
                user_id = #{userId},
            </if>
            <if test="text != null">
                text = #{text},
            </if>
            <if test="isread != null">
                isread = #{isread},
            </if>
            <if test="time != null">
                time = #{time},
            </if>
        </set>
        where id = #{id}
    </update>

</mapper>